:root {
  --sage: #87BCBF;
  --rust: #D97D54;
  --drab: #324755;
  --onyx: #1B1C20;
  --slate: #6E8CA0;
  --snow: #FFF;
  --ice: #F0F3F4;
  --steel: #C8D1D3;
  --sand: #B9B0A2;
}

.sage-bg {
  background-color: var(--sage);
  color: var(--snow);
}

.rust-bg {
  background-color: var(--rust);
  color: var(--snow);
}

.drab-bg {
  background-color: var(--drab);
  color: var(--ice);
}

.onyx-bg {
  background-color: var(--onyx);
  color: var(--ice);
}

.slate-bg {
  background-color: var(--slate);
  color: var(--ice);
}

.snow-bg {
  background-color: var(--snow);
  color: var(--onyx);
}

.ice-bg {
  background-color: var(--ice);
  color: var(--onyx);
}

.steel-bg {
  background-color: var(--steel);
  color: var(--onyx);
}

.sand-bg {
  background-color: var(--sand);
  color: var(--snow);
}