:root {
  --sage: #87bcbf;
  --rust: #d97d54;
  --drab: #324755;
  --onyx: #1b1c20;
  --slate: #6e8ca0;
  --snow: #fff;
  --ice: #f0f3f4;
  --steel: #c8d1d3;
  --sand: #b9b0a2;
}

.sage-bg {
  background-color: var(--sage);
  color: var(--snow);
}

.rust-bg {
  background-color: var(--rust);
  color: var(--snow);
}

.drab-bg {
  background-color: var(--drab);
  color: var(--ice);
}

.onyx-bg {
  background-color: var(--onyx);
  color: var(--ice);
}

.slate-bg {
  background-color: var(--slate);
  color: var(--ice);
}

.snow-bg {
  background-color: var(--snow);
  color: var(--onyx);
}

.ice-bg {
  background-color: var(--ice);
  color: var(--onyx);
}

.steel-bg {
  background-color: var(--steel);
  color: var(--onyx);
}

.sand-bg {
  background-color: var(--sand);
  color: var(--snow);
}
