@import './reset.css';
@import './colors.css';
@import './typography.css';
@import './post-card.css';
@import './navbar.css';
@import './author-card.css';
@import './shapes.css';
@import './components.css';

body {
  width: 80%;
  height: 100%;
  margin: 5vh 10vw;
}

footer {
  position: fixed;
  width: inherit;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  bottom: 0vw;
}

header {
  clear: both;
  margin: 24px 0;
}

.posts {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}