.boxes {
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid rgba(0, 0, 0, 0.2);
}

.social-sharing {
  margin: 15px 0;
}

.social-sharing a {
  text-decoration: none;
  padding: 0 5px;
}

.social-sharing a img {
  width: 30px;
}

.social-sharing a img:hover {
  width: 35px;
}

.quotes {
  padding: 20px 30px;
  border-left: 20px solid var(--drab);
}

.heading-underline,
.small-underline {
  position: relative;
}

.heading-underline:after,
.small-underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
}

.small-underline:after {
  background-color: var(--slate);
  height: 4px;
  width: 25%;
  top: 32px;
}

/* Medium screens */
@media screen and (min-width: 501px) {
  .heading-underline:after {
    top: 70px;
    height: 6px;
    width: 35%;
    background: var(--rust);
  }

  .small-underline:after {
    height: 5px;
    top: 52px;
  }
}

/* Large screens */
@media screen and (min-width: 1024px) {
  .heading-underline:after {
    top: 110px;
    width: 20%;
    height: 10px;
    background-color: var(--rust);
  }

  .small-underline:after {
    height: 7px;
    width: 15%;
    top: 65px;
  }
}
