<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./components-post.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>DS components</title>
  </head>

  <body class="drab-bg">
    <nav>
      <input type="checkbox" id="checkbox" />
      <label for="checkbox">
        <i class="fas fa-bars" id="hamburger"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>
      <ul class="nav-list nav-underline">
        <li><a href="../../home/index.html">Home</a></li>
        <li><a href="../elements/elements-post.html">Elements</a></li>
        <li><a href="../colors/colors-post.html">Colors</a></li>
        <li><a href="../typography/typography-post.html">Typography</a></li>
        <li><a href="../components/components-post.html">Components</a></li>
      </ul>
    </nav>
    <main>
      <header>
        <h1 class="heading-underline">Intro to components</h1>
        <div class="social-sharing">
          <a href="https://twitter.com/">
            <img src="../../assets/Icon zocial-twitter.png" alt="Twitter" />
          </a>
          <a href="https://www.facebook.com/">
            <img src="../../assets/Icon awesome-facebook.png" alt="Facebook" />
          </a>
          <a href="https://www.linkedin.com/">
            <img src="../../assets/Icon awesome-linkedin.png" alt="LinkedIn" />
          </a>
          <a href="https://www.instagram.com/">
            <img src="../../assets/Icon awesome-instagram.png" alt="Instgram" />
          </a>
        </div>
      </header>

      <section>
        <p>
          Cupcake ipsum dolor sit amet cookie macaroon. Pudding oat cake apple
          pie dragée croissant biscuit powder lollipop. Sugar plum jelly cupcake
          tiramisu sweet roll cotton candy. Tiramisu soufflé soufflé pudding
          chupa chups. Macaroon gingerbread pie. Powder cake sweet apple pie
          lemon drops tart liquorice. Macaroon chupa chups cupcake. Oat cake
          macaroon chupa chups. Cookie pudding gingerbread. Topping cake gummies
          macaroon gummi bears ice cream bonbon liquorice.
        </p>
        <div class="quotes slate-bg">
          <blockquote
            cite="https://uxdesign.cc/everything-you-need-to-know-about-design-systems-54b109851969"
          >
            The components are our LEGO blocs. They’re used in Sketch by
            designers, and directly in the code by developers. Their functional
            behaviour must be specified.
          </blockquote>
          <p class="overline">
            - Andrey Hacq, head of product design at Openclassrooms
          </p>
        </div>
        <p>
          Icing caramels candy dessert lemon drops. Cupcake jelly chupa chups
          halvah brownie halvah. Halvah gummi bears croissant cookie lemon drops
          bear claw bonbon topping tiramisu. Sugar plum sweet roll caramels
          cookie sweet dessert tiramisu candy. Chocolate cake apple pie brownie
          topping. Topping marshmallow gummi bears. Danish cheesecake
          marshmallow marshmallow.
        </p>
        <p>
          Jelly beans sugar plum cheesecake macaroon marzipan oat cake sugar
          plum sesame snaps. Cake soufflé sugar plum donut liquorice caramels
          icing chocolate pie. Lollipop jelly croissant bear claw croissant
          donut jelly liquorice. Bear claw sweet tart lollipop. Jelly pastry
          jujubes gummi bears soufflé cotton candy. Carrot cake lemon drops
          sweet roll candy canes ice cream topping marshmallow powder. Jelly
          cake pastry candy canes cake biscuit.
        </p>
        <p>
          Lemon drops icing danish. Sweet roll lemon drops icing jelly-o.
          Tootsie roll cake chocolate cake jelly beans cupcake candy canes wafer
          jelly beans. Pastry gummies toffee danish. Cotton candy jelly muffin
          cupcake bonbon pie. Ice cream chocolate cake jelly-o liquorice oat
          cake gingerbread liquorice chupa chups. Pastry fruitcake lollipop
          cookie brownie pie pie. Chocolate jelly-o carrot cake jelly topping
          fruitcake jelly beans lollipop. Sweet cookie tootsie roll tart sesame
          snaps candy canes cake tootsie roll. Jujubes carrot cake marshmallow
          tootsie roll dessert.
        </p>
      </section>
      <div class="parts">
        <p>
          Any number of components can be included in a design system, like:
        </p>
        <ul>
          <li>Input Controls: Buttons, Checkboxes etc.</li>
          <li>
            Navigational Components: Search Fields, Breadcrumbs, Pagination,
            Icons etc.
          </li>
          <li>
            Information Components: Notifications, Progress Bars, Tooltips,
            Message Boxes, Pop-ups
          </li>
          <li>Containers: Accordion</li>
        </ul>
      </div>

      <div class="author-card sand-bg">
        <div class="circle drab-bg">LZ</div>
        <ul>
          <li><span class="overline">Name:</span> John Doe</li>
          <li><span class="overline">Role:</span> UX/UI Designer</li>
          <li><span class="overline">Company/ School:</span> Big IT Player</li>
          <li>
            <span class="overline">Short Bio:</span> When he is not making
            beautiful deisgns for clients he is learning JavaScript.
          </li>
        </ul>
      </div>
    </main>
    <footer class="rust-bg">
      <p>
        The design system used can be viewed
        <a href="../../design-system/design.html">here</a>.
      </p>
    </footer>
  </body>
</html>
