@import '../../css/main.css';

li a:hover {
  background-color: var(--drab);
}

.h2-underline:after {
  background: var(--drab);
}

.quotes {
  border-left-color: var(--snow);
}

.author-card {
  border-left-color: var(--snow);
}