@import '../../css/main.css';

nav ul li a {
  color: var(--onyx);
}

.nav-underline>li:after {
  background: var(--onyx);
}

.h2-underline:after {
  background: var(--rust);
}

.quotes {
  border-left-color: var(--drab);
}

section p {
  margin: 12px 0;
}