@import '../css/main.css';

body {
  margin: 5vh 10vw 0 10vw;
}

section {
  margin-top: 20px;
}

footer {
  position: relative;
  width: 100%;
}

.heading-underline:after {
  background: var(--drab);
}

.colors-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 2fr);
  row-gap: 10%;
}

.author-card {
  gap: 30px;
  margin-bottom: 20px;
}

.post-card {
  width: 25%;
}