@import "../css/main.css";

section {
  margin-top: 20px;
}

.heading-underline:after {
  background: var(--drab);
}

.colors-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 2fr);
}

.author-card {
  gap: 30px;
  margin-bottom: 20px;
}

/* Medium screens */
@media screen and (min-width: 501px) {
  .colors-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 2fr);
    row-gap: 10%;
  }

  .post-card {
    width: 50%;
  }
}

/* Large screens */
@media screen and (min-width: 900px) {
  body {
    margin: 5vh 10vw 0 10vw;
  }
  .post-card {
    width: 25%;
  }
}
